.carousel-item{
    height: 85vh;
}

.carousel-inner > .item {
    -webkit-transition: -webkit-transform .70s ease-in-out !important;
    -o-transition: -o-transform .70s ease-in-out !important;
    transition: transform .70s ease-in-out !important;
}

.news {
    width: 19.7%;
    height: 85vh;
    position: relative;
    bottom: 600pt;
    left: 750pt;
}
