.carousel-item{
    height: 85vh;
/*    transition-duration: 125s; */
}

.carousel-inner > .item {
    -webkit-transition: -webkit-transform 15s ease-in-out !important;
    -o-transition: -o-transform 15s ease-in-out !important;
    transition: transform 15s ease-in-out !important; 
}

.news {
    width: 19.7%;
    height: 85vh;
    position: relative;
    bottom: 600pt;
    left: 750pt;
}
